*{
    margin: 0 auto;
    padding: 0px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid silver;
    overflow: hidden;
    justify-content: center;
    padding: 15px;
    width: 1200px;
    background-color: silver;
    margin: 10px auto;
}
.top-nav {
    margin: 10px;
    padding: 10px 100px;
    width: 1000px;
    justify-content: center;
    height: 150px;
    background-color: green;
}
.side-nav {
    justify-content: space-evenly;
    display: flex;
    margin: 10px 20px 10px 0px;
    height: 300px;
    width: 200px;
    background-color: blue;
    padding: 25px 50px 25px 70px;
}
.main {
    margin: 10px;
    padding: 10px 110px 10px 10px;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 700px;
    background-color: red;
    border: 5px solid red
}
.sub-content {
    padding: 5px;
    justify-content: space-evenly;
    margin: 5px 5px 5px 6px;
    display: flex;
    height: 200px;
    width: 210px;
    background-color: yellow;
}
#advertisement {
    margin: 10px;
    padding: 0 10px 0 10px;
    vertical-align: top;
    display: flex;
    height: 120px;
    width: 660px;
    background-color: purple;
}

